<button class="exit-button flex justify-center align-middle text-4xl self-end w-10 h-10 font-bold rounded-full">
    &times;
</button>

<style>
    .exit-button {
        color: gray;
        transition: color 0.5s, box-shadow 0.5s;
    }

    .exit-button:hover {
        box-shadow: 0 0 5px white;
        color: white;
    }

    .exit-button:active {
        color: gray;
        background-color: white;
    }
</style>