---
const { github, index, gist } = Astro.props;
import { marked } from 'marked';

const response = github || gist ? await fetch(
    github ? `https://raw.githubusercontent.com/${github}/refs/heads/main/README.md` : `https://gist.githubusercontent.com/jack-kraus/${gist}`)
    .then((response) => response.text())
    .then((response) => marked.parse(response))
    .catch(() => null) : null;
---

<div class="project-modal fixed h-screen w-screen z-50 justify-center align-middle left-0 top-0 p-10" data-index={index}>
    <div class="modal w-full h-full rounded-lg flex flex-col">
        <button class="self-end text-4xl">&times;</button>
        <article class="p-10 overflow-scroll bg-zinc-900 rounded-md">
            {response ? <div set:html={response}/> : <h1 class="text-red-500">There was an error fetching the markdown for this repository</h1>}
        </article>
    </div>
</div>

<style is:global>
    .project-modal {
        display: none;
    }

    article {
        transition: background-image;
        mask-mode: luminance;
        mask-image: linear-gradient(black 0%,white 2%, white 98%, black 100%);
    }

    article img {
        max-width: 1000px;
        max-height: 500px;
        display: inline;
        aspect-ratio: auto;
        object-fit: contain;
    }

    * {
        color: white;
    }

    article code {
        background-color: #3F3F46;
        
        padding: 0.1rem 0.2rem 0.1rem 0.2rem;
        border-radius: 0.2rem;
    }

    article ul {
        list-style-type: disc;
    }

    article ol {
        list-style-type: decimal;
    }

    article ol, article ul {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .modal {
        max-width: 1000px;
    }

    article a {
        color: #7a6ae3
    }
    article a:hover {
        color: #cb70f5;
        text-decoration: underline;
    }
    article a:active {
        color: white;
    }

    article a:hover {
        text-decoration: underline;
    }
    
    article h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-top: 1.5rem;
    }
    article h2 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-top: 1.25rem;
    }
    article h3 {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 1rem;
    }
    article h4 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 0.75rem;
    }

    article strong {
        font-weight: 500;
        font-size: 1rem;
    }
    article p, article li {
        font-size: 1rem;
        font-weight: 300;
    }

    article p[align=center] img {
        border-radius: 10px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.467));
    }

    article p[align=center] img:first-child {
        width: 100%;
        max-width: 600px;
    }

    article p[align=center] img:not(:first-child) {
        margin-top: 0;
    }
</style>

