---
import '@fontsource-variable/fraunces';

const firstName = "Jack";
const lastName = "Kraus";
---

<main>
	<section id="intro" class="snap-center">
		<div class="intro-container align-middle m-auto">
			{firstName.split("").map((char, i) => <h1 class="animated" style={{"animation-delay" : `${i*100}ms`}}>{char}</h1>)}
			<h1>&nbsp;</h1>
			{lastName.split("").map((char, i) => <h1 class="animated" style={`animation-delay: ${(firstName.length+i)*100}ms`}>{char}</h1>)}
		</div>
	</section>
	<section class="snap-center"></section>
	<section class="snap-center"></section>
	<section class="snap-center"></section>
</main>

<style>
	body {
		background-color: black;
		height: 1000px;
	}

	.intro-container {
		display: flex;
		align-self: flex-start;
	}

	section {
		width: 100%;
		height: 100vh;
	}

	#intro {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@keyframes fadein {
		0% {
			opacity: 0.01;
			translate: 0px 10px;
		}
		75% {
			translate: 0px -5px;
		}
		100% {
			opacity: 1;
			translate: 0px 0px;
		}
	}

	h1 {
		font-size: 100px;
		color: white;
		display: inline-block;
		font-family: 'Fraunces Variable', serif;
		font-weight: 700;
		
		animation: fadein 600ms ease-in-out both;
	}
</style>

<script>
	const snapItems = document.querySelectorAll('section');

	window.addEventListener('scroll', () => {
		snapItems.forEach((item) => {
			const rect = item.getBoundingClientRect();
			if (rect.top >= 0 && rect.bottom <= window.innerHeight) {
				document.querySelectorAll<HTMLElement>(".animated").forEach((el) => {
					// reset all animations
					el.style.animationName = 'none';
					el.offsetHeight;
					el.style.animationName = null;

					// play the animation if in current section
					el.style.animationPlayState = item.contains(el) ? "running" : "paused";
				});
			}
		});
	});
</script>